.color_btn {
  color: darkblue;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 90%;
}

.container {
  max-width: 1200px;
  //margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 15px;
}

.container_inner{
  margin-bottom: 0px;
}
